@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    overflow: hidden;
}

:root{
    --bg-light-1:rgb(151, 115, 214);
    --bg-light-2: linear-gradient(141deg, rgba(151, 115, 214, 1) 0%, rgba(145, 228, 200, 1) 100%);
    --bg-dark-1:rgb(106, 30, 240);
    --bg-dark-2: linear-gradient(141deg, rgba(106, 30, 240, 1) 0%, rgba(24, 236, 164, 1) 100%);
}

body{
    height: 100vh;
    width:100vw;
    background: var(--bg-dark-2);
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.game-container{
    background: var(--bg-light-1);
    background: var(--bg-light-2);
    width:80%;
    height:80%;
    display: flex;
    z-index: 1;
    position: relative;
    border-radius: 0rem;
    box-shadow: inset 0px 0px 4px black;
}

.left{
    flex:0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 0.2rem   solid   var(--bg-dark-1);
            background: var(--bg-light-1);
}

.score{
    flex:0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0rem;
    height: 100%;
    width: 100%;
    gap:2rem;
    border-bottom: 0.2rem solid var(--bg-dark-1); 
}

.wrapper2,.wrapper1{
    height: 45%;
    width: 58%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding:0.5rem;
    border-radius: 0.5rem;
    background-color: black;
    color:white;
}

.dice-box{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem;
    height: 100%;
    width: 100%;
    gap: 2rem;
}



.active{
    background: var(--bg-dark-2);
}

.result1,.result2{
    font-size: 3rem;
    text-shadow: 0px 0px 1px black;
}

.dice-num-1,.dice-num-2{
    font-size: 3rem;
    text-shadow: 0px 0px 1px black;
}

.player1,.player2,.current{
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    color:var(--bg-dark-1);
    text-shadow: 0px 0px 1px black;
}

.player2 {
    color: rgb(138, 0, 0);
}

.current2 {
    color: rgb(138, 0, 0);
}

.right{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
}



.center{
    position: absolute;
    width:100%;
    height: 100%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.center .top{
    flex:0.5;
    margin-top: 5rem;
}

.center .bottom{
    flex:0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
}

.middle{
    background-color: white;
    height: 2.5rem;
    width: 2.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    place-items: center;
    vertical-align: middle;
    border-radius: 0.1rem;
    box-shadow: 0px 0px 1px black;
    box-shadow: inset   0px 0px 2px black;
    cursor: pointer;
    margin-top:-5rem;
}

.hidden{
    display: none;
}

.dot{
    height: 0.4rem;
    width:0.4rem;
    border-radius: 50%;
    background-color: black;
}

h2{
    font-size: 0.8rem;
    font-weight: 500;
}

.keela .new-game,.keela .quit{
    font-size: 0.8rem;
    padding:0.4rem  0.6rem;
}

.winner{
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    color:purple;
}

.win-modal{
    position: absolute;
    z-index: 10;
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.671);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.actual-modal{
    margin:0.5rem;
    padding:0.5rem;
    height:10rem;
    width:16rem;
    background:var(--bg-light-1);
    background: var(--bg-light-2);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

button{
    padding:0.5rem  0.8rem;
    background: var(--bg-dark-1);
    background: var(--bg-dark-2);
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
}

button:hover{
    background: var(--bg-light-1);
    background: var(--bg-light-2);
    box-shadow: inset 0px 0px 4px  purple;
}

button.roll-dice{
    visibility: visible;
}

@media (min-width:0px) and (max-width:500px) {
   button{
    font-size: 0.6rem;
    padding: 0.4rem 0.4rem;
   }

   .middle{
    height: 2.0rem;
    width:2.0rem;
   }

   .hold{
    font-size: 0.6rem;
    padding:0.4rem  0.4rem;
   }
}

@media  (min-width:0px) and (max-width:650px){
    .game-container{
        flex-direction: column;
        margin: 0rem;
        width: 100%;
        height: 100%;
        padding: 0rem;
    }

    .result1,.result2,.dice-num-1,.dice-num-2{
        font-size: 1rem;
    }

    .wrapper1,.wrapper2{
        height: 35%;
        width: 60%;
    }

        .player1,
        .player2,
        .current {
            font-size: 0.8rem;
            font-weight: 600;
            text-transform: uppercase;
            text-shadow: 0px 0px 1px black;
        }

        .player2,.current2{
                        color: rgb(133, 0, 0);
        }

        .dice-num-1,.dice-num-2{
            font-size: 1.8rem;
        }

        .result1,.result2{
            font-size: 2.5rem;
        }

    .middle{
        margin-top: 0rem;
    }
    
    .body{
        padding: 0rem;
    }

    .center {
        position: absolute;
        width: 100%;
        height: 10%;
        padding: 1rem;
        z-index: 2;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: row;
        gap:0px;
        align-items: center;
        justify-content:center;
        /* border-top: 0.2rem solid var(--bg-dark-1);
        border-bottom: 0.2rem solid var(--bg-dark-1); */
    }
.keela .new-game,
.keela .quit {
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem;
}
    .left{
        flex-direction: row;
        border: none;
    }

    .right{
        flex-direction: row;
    }

        .center .top {
            flex: 0.5;
            margin-top: 0rem;
        }
    
        .center .bottom {
            border: 1rem solid var(--bg-dark-2);
            flex: 0.5;
            gap: 0rem;
            flex-direction: row;
            justify-content: space-around;
        }
        .game-container{
            width: 100%;
            height: 98%;
            margin: 0rem;
        }

        .score{
            border: none;
        }
       
}

